@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body{
  background-color: rgb(238, 236, 236);
  color: black;
}

.login_wrapper{
  padding: 30px;
  width: 430px;
  margin: 40px auto;
 
}
.login_form{
  width: 100%;
}

.signup_wrapper{
  padding: 30px;
    width: 570px;
    margin: 40px auto;
}

.btn{
  border: 1px solid black;
  outline: none;
}


.card{
  height: 550px;
}

.load {
  margin-left: 20px;
}
